<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skvrahul.miniproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddItemsActivity" />
        <activity android:name=".activities.AddOrDelEmployees" />
        <activity android:name=".activities.AddEmployeeActivity" />
        <activity android:name=".activities.RemoveEmployeeActivity" />
        <activity android:name=".activities.LoggedInActivity" />
        <activity android:name=".activities.BillActivity" />
        <activity android:name=".activities.ScanCodeActivity" />
        <activity android:name=".activities.viewListOfEmployees" />
        <activity android:name=".activities.CustomerManagementActivity"/>
        <activity android:name=".activities.AddCustomerActivity"/>
        <activity android:name=".activities.RemoveCustomerActivity"/>
    </application>

</manifest>